asn1crypto==0.22.0
bugsnag==3.1.0 
cffi==1.10.0
click==6.7
cryptography==1.8.1
enum34==1.1.6
Flask==0.12.2
future==0.16.0
idna==2.5
ipaddress==1.0.18
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauthlib==2.0.1
packaging==16.8
pycparser==2.17
PyJWT==1.5.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-twitter==3.2.1
pytz==2017.2
requests==2.12.5
requests-oauthlib==0.7.0
six==1.10.0
tracery==0.1.1
twilio==6.1.2
Werkzeug==0.12.2
