{% extends 'base.html' %}
{% block title %}BuffyBot -  Welcome{% endblock %}

{% block content %}

<h1>The Buffy Markov Bot</h1>
<h2>'What's with the Dadaism, Red?"</h2>

<img src="">

<span id="wordSalad"></span>

<p>Just enter a mobile number below to receive some word salad straight from the Buffy Bot herself!</p>
<p>This bot is as twii as can be. She will generate a random Buffy-eqsuen sentance based on Markov Chain logic, and then will tweet the message to Twitter, and text it to your mobile using Twilio.</p>
    <div id="recipientMobile">
            <form action="/sms" method="POST">
                Email: <input type="text" name="mobile" id="mobile">
                    <span id="mobileValid"></span><br>
                <input type="submit" id="registerButton" disabled>
            </form>
            <br><br><br><button type="submit" id="cancelMobile">Cancel</button>
    </div>

{% endblock %}